/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
===========================================================
BASIC LAYOUT
===========================================================
*/


body {
  font-family: Open-Sans, Arial, sans-serif;
  font-size: 62.5%;
}

/*headings in welcome section*/
h1{
  color:#f2f2f2;
  font-size: 4rem;
  padding: 12% 0 1rem 0;
  font-family: "Megrim", "Times New Roman", serif;
}

h2{
  color:#f2f2f2;
  font-size: 2.5rem;
  margin: 1rem;
  font-family: "Megrim", "Times New Roman", serif;
}

/*page headings*/
h3{
  color:#333;
  font-size: 2.5rem;
  padding: 3rem;
  text-align: center;
  font-family: "Megrim", "Times New Roman", serif;
}

/* footer text */
h5{
  color:#f2f2f2;
  font-family: "Megrim", "Times New Roman", serif;
}



/* 
=========================================================
HEADER STYLES
=========================================================
*/

header {
  width: 100%;
  background-color: #333;
  position: fixed;
  padding: 0 1rem;
}

nav img{
  width: 32px;

}

nav li {
  display: inline-block;
  padding: 1rem;
}

.topnav-left {
  float: left;
}

.topnav-right {
    float: right;
}

nav a {
  font-family: "Megrim";
  font-size: 22px;
  color: #f2f2f2;
  text-align: center;
}
  
nav a:hover {
  background-color: rgb(212, 105, 105);
}

/* 
==========================================================
WELCOME SECTION
==========================================================
 */

/*background image for welcome section with shading*/
.hero-image{
  background: var(--color-shadow);
    background-image: linear-gradient(
        90deg,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0) 65%,
        rgba(0,0,0,0.9)
      ),
    url(images/header-bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


main{
  clear: both;
  padding-left: 5%;
}

main img{
  width: 100px;
}

#welcome-section{
  width: auto;
  height: 100vh;
}

/* 
==========================================================
PROJECTS SECTION
==========================================================
 */

.projects{
  width: 100%;
  min-height: 100%vh;
  margin: auto;
}

.projects img{
  border-radius: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  grid-gap: 20px;
  justify-content: center;
}

/*
==============================================
FOOTER STYLES
==============================================
*/

footer {
  margin-top: 30px;
  background-color: #333;
  padding: 1em;
}

footer li{
  display: inline;
}

footer a:hover {
  background-color: rgb(212, 105, 105);
}

footer span {
  justify-content: right;
  font-size: 16px;
  color: #ffffff;
}

/*
==============================================
Responsive layout
==============================================
*/

@media (max-width: 600px) {
  .grid-container  {
    display: flex;
  }
}