/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
===========================================================
BASIC LAYOUT
===========================================================
*/


body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 62.5%;
  background-color: #333;
  color: #fff;
}

/*headings in welcome section*/
h1{
  font-size: 5rem;
  padding: 12% 0 1rem 0;
  font-family: "Megrim", "Times New Roman", serif;
}

h2{
  font-size: 2.5rem;
  margin: 1rem;
}

/*page headings*/
h3{
  font-size: 2.5rem;
  padding: 3rem;
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 2rem;
}

/* 
=========================================================
HEADER STYLES
=========================================================
*/

header {
  width: 100%;
  background-color: #333;
  position: fixed;

}

nav img{
  width: 2rem;
  
}

nav li {
  display: inline-block;
  padding: 1rem;
  height: 2rem;
  line-height: 2rem;
}

.topnav-left {
  display: none;
  float: left;
}

.topnav-right {
    float: right;
    margin-right: 3rem;
}

nav a {
  font-family: "Megrim";
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  width: 20%;
  text-decoration: none;
}
  
nav li:hover {
  background-color: rgb(212, 105, 105);
}

/* 
==========================================================
WELCOME SECTION
==========================================================
 */

/*background image for welcome section with shading*/
.hero-image{
  background: var(--color-shadow);
    background-image: linear-gradient(
        90deg,
        rgba(0,0,0,0.9),
        rgba(255,255,255,0) 65%,
        rgba(255,255,255,0.7)
      ),
    url(images/mountain-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

main{
  clear: both;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main img{
  margin-top: 50%;
  border-radius: 50%;
  /* margin-left: 50vw;
  transform: translate(-50%); */
  justify-content: center;
  width: 33%;
}

#welcome-section{
  width: auto;
  height: 100vh;
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  border-radius: 8px;
  font-weight: 700;
  border: none;
}

.btn:hover {
  background-color: rgb(212, 105, 105);
  color: #fff;
}

/* 
==========================================================
PROJECTS SECTION
==========================================================
 */

.projects {
  width: 100%;
  min-height: 50vh;
  margin: 1rem auto 3rem auto;
}

.clients {
  margin: 0 auto;
  padding-bottom: 3rem;
}

.flex-container img{
  border-radius: 8%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  gap: 2rem;
}

/* 
==========================================================
ABOUT SECTION
==========================================================
 */
.about {
  display: block;

}

.bio {
  padding-left: 10%;
  padding-right: 10%;
}

/* 
==========================================================
CONTACT SECTION
==========================================================
 */

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%
}

form label {
  color: white;
  font-size: 1rem;
  line-height: 2rem;
}

form input {
  border-radius: 5px;
  line-height: 1.5rem;
}

form span {
  color: white;
  text-align: right;
  line-height: 1.5rem;
  font-size: .75rem;
}

/*
==============================================
FOOTER STYLES
==============================================
*/

footer {
  clear: both;
  width: 100%;
  height: 4rem;
  background-color: #333;
}

footer section {
  text-align: center;
  padding: 2rem;
}

footer span {
  line-height: 4.5rem;
  text-align: right;
  font-size: 1rem;
  color: #fff;
}

/*
==============================================
Responsive layout
==============================================
*/



@media all and (max-width: 850px) {
  html {
    font-size: 80%;
  }

  /* .topnav-left {
    display: none;
  } */

  .topnav-right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100%;
    
  }

  nav li {
    height: 100%;
    line-height: 100%;
  }

  header {
    height: 5rem;
  }

  nav img {
    width: 3rem;
  }
  
  h1 {
    padding-top: 20%;
  } 

  .bio {
    padding-left: 0;
    padding-right: 0;
  }
  
}