/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 80%;
}

@font-face {
  font-family: "She-Ra";
  src: url(Shera-MqWe.ttf);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "She-Ra", "Open Sans", Verdana, Tahoma, sans-serif;
  background: #000 url(horde\ trio.png) top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: pink;
  text-align: center;
}

h2 {
  font-size: 4rem;
  margin-block-start: 0.5em;
  margin-block-end: 0;
  text-shadow: 3px 3px maroon;
}

h3, table {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

section h3 {
  padding: 1rem;
}

/******************************************
/* BUTTON STYLES
/*******************************************/

button {
  margin: 2rem;
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: pink;
  color: maroon;
  border-radius: 10px;
  font-size: 2.5rem;
  font-weight: 700;
  width: 10rem;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
}


/******************************************
/*SCOREBOARD TABLE STYLES
/*******************************************/

.scoreboard table {
  margin: 0 auto;
  border-spacing: .5rem;
}

th {
  color: #fff;
  background-color: rgba(128,0,0,.7);
}

td {
  padding: 0.5rem;
}

#userScore, #aiScore {
  color: #fff;
  font-size: 3rem;
}

/******************************************
/*BASIC LAYOUT
/*******************************************/

main, .playArea {
  clear: both;
}

.textResult, .imgResult {
  float: left;
  width: 50%;
  padding: 0 5%;
}

.container {
  min-height: 20rem;
}

/******************************************
/* FOOTER
/*******************************************/

footer {
  color: #fff;
  font-size: 1.5rem;
  left: 0;
  bottom: 0;
  margin-right: 1rem;
}

footer section {
  float: left;
  width: 50%;
  background-color: rgba(128,0,0,.7);
}

footer section + section {
  text-align: right;
  padding: 0 5%;
}

/******************************************
/* CONDITIONAL STYLES
/*******************************************/

img {
  width: 100%;
}

.hidden {
  display: none;
}

.textResult {
  background: rgba(128,0,0,.7);
}

/******************************************
/* CONTENT DECISIONS
/*******************************************/

@media all and (max-width: 700px) {
  html {
    font-size: 75%;
  }

  .container section {
    float: none;
    width: auto;
  }

  button {
    margin: 1rem;
    font-size: 2rem;
  }

  footer {
    font-size: 1rem;
  }

}